<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="/static/css/modern-normalize.min.css" />
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/srt.js"></script>
  </head>
  <body class="has-background-white-ter is-family-code">
    <nav class="navbar nav-shadow">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p class="is-size-2">SRT Editor</p>
          </a>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="card" style="margin-top: 1rem;">
        <div class="card-content">
          <div class="is-flex is-justify-content-space-between">
            <div>
              <p class="has-text-grey">Currently Editing:</p>
              <p class="is-size-3">{{ filename }}</p>
              <p class="has-text-grey">File Path: {{ path }}</p>
            </div>
            <div>
              <button class="button is-primary" id="save">Save</button>
            </div>
          </div>
          <hr>
          <div class="level" style="margin-bottom: 1rem;">
            <div class="level-left">
              <div class="level-item">
                <input id="timeShift" type="number" class="input" placeholder="Time Shift (ms)"/>
              </div>
              <div class="level-item">
                <button class="button" id="addTime">Add Time</button>
              </div>
              <div class="level-item">
                <button class="button" id="subtractTime">Subtract Time</button>  
              </div>
            </div>
          </div>
          <hr>
          <div id="srt-file">
            <!-- Stuff here -->
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      fetch("/srt?path={{ path }}", {
        method: "GET",
      })
        .then((response) => {
          if (!response.ok) {
            console.error("Network error while fetching file: {{ path }}");
          } else {
            return response.json();
          }
        })
        .then((json) => {
            const srt = new Srt(json);
            console.log(srt);
        })
        .catch((error) => console.error(error));
    });
  </script>
</html>

