<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="/static/css/modern-normalize.min.css" />
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/srt.js"></script>
  </head>
  <body class="has-background-white-ter is-family-code">
    <nav class="navbar nav-shadow">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p class="is-size-2">SRT Editor</p>
          </a>
        </div>
      </div>
    </nav>
    <main class="container" style="padding-bottom: 1rem; padding-top: 1rem">
      <div class="card">
        <div class="card-content">
          <div class="is-flex is-justify-content-space-between">
            <div>
              <p class="has-text-grey">Currently Editing:</p>
              <p class="is-size-3">{{ filename }}</p>
              <p class="has-text-grey">File Path: {{ path }}</p>
            </div>
            <div>
              <button class="button is-primary" id="save">Save</button>
            </div>
          </div>
          <hr />
          <div id="srt-file">
            <!-- Stuff here -->
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var srtEditor;
      // fetch srt data
      fetch("/srt?path={{ path }}", {
        method: "GET",
      })
        .then((response) => {
          if (!response.ok) {
            console.error("Network error while fetching file: {{ path }}");
          } else {
            return response.json();
          }
        })
        .then((json) => {
          srtEditor = new SrtEditor("#srt-file", json);
        })
        .catch((error) => console.error(error));

      // setup save button
      document.querySelector("#save").addEventListener("click", () => {
        const fileContents = srtEditor.buildFile();

        const body = {
          path: "{{ path }}",
          text: fileContents,
        };

        fetch("/srt", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(body),
        }).then((response) => {
          if (!response.ok) {
            alert("Failed to save file.");
          } else {
            alert("File saved.");
          }
        });
      });
    });
  </script>
</html>
