<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="/static/css/modern-normalize.min.css" />
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/srt-time.js"></script>
    <script src="/static/js/srt-file.js"></script>
    <script src="/static/js/srt-snippet.js"></script>
  </head>
  <body>
    <nav class="navbar has-background-dark" style="margin-bottom: 1rem;">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p class="is-size-2 has-text-light">SRT Editor</p>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h1>{{ filename }}</h1>
          <button class="button" id="save">Save</button>
          <p>Time Shift (ms)</p>
          <input id="timeShift" type="number" />
          <button class="button" id="addTime">Add Time</button>
          <button class="button" id="subtractTime">Subtract Time</button>
        </div>
      </div>
      <srt-file>
        {% for snippet in srt.snippets %}
        <srt-snippet
          start-time="{{ snippet.start_time }}"
          end-time="{{ snippet.end_time }}"
          index="{{ snippet.index }}"
          subtitles="{{ snippet.subtitles_joined() }}"
        ></srt-snippet>
        {% endfor %}
      </srt-file>
    </div>
  </body>
  <script>
    // add time button
    document.getElementById("addTime").addEventListener("click", function () {
      const ms = document.querySelector("#timeShift").value;
      document.querySelector("srt-file").shiftTimesForward(parseInt(ms));
    });
    // subtract time button
    document.getElementById("subtractTime").addEventListener("click", function () {
      const ms = document.querySelector("#timeShift").value;
      document.querySelector("srt-file").shiftTimesBackward(parseInt(ms));
    });
    // save button
    document.getElementById("save").addEventListener("click", function () {
      fetch("/srt/save", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          path: "{{ path }}",
          text: document.querySelector("srt-file").buildFile(),
        }),
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network error while saving SRT file.");
          } else {
            alert("Saved changes to {{ path }}");
          }
        })
        .catch((error) => console.error(error));
    });
  </script>
</html>

