<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{ filename }}</h1>
      {% for snippet in srt.snippets %}
      <div>
        <p>{{ snippet.line_number }}</p>
        <p>Start Time: {{ snippet.start_time }}</p>
        <p>End Time: {{ snippet.end_time }}</p>
        {% for line in snippet.lines_subtitles %}
        <p>{{ line }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
