<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRT Editor</title>
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>SRT Editor</h1>
      <form action="/srt" method="post">
        <input type="text" name="filename" id="filename" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
